body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 350px;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

input, select, button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.weather-container {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
}

.image-container {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  width: 90%;
  max-width: 500px;
}

.tourist-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}


.hotels-container {
  width: 900px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.hotels-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

.hotel-card {
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.hotel-card:hover {
  transform: scale(1.03);
}

.phone-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  
}

.phone-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  .hotels-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 899px) {
  .hotels-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .hotels-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
